@import "@fontsource/inter/300.css";
/* folosește fontul variabil */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saint Regus';
  src: url('/fonts/SaintRegus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply mb-4;
  }

  .my-button {
    @apply inline-flex items-center justify-center bg-blue-500 text-white rounded-md transition-transform duration-100 active:scale-95 px-2 py-1 text-sm hover:bg-blue-600 cursor-pointer select-none;
  }
}